.pic-card--img {
  width: 500px;
  height: 654px;
  transition: all 0.4s;
  border-radius: 32px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
  position: relative;
  overflow: hidden;  /* Added to ensure ::after covers exactly this area */
}

.pic-card--img:hover {
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
}

.first-content {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.second-content {
  color: white;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  z-index: 99;
  font-size: 1.8rem;
  position: absolute;  /* Make absolute to ensure it's placed correctly */
  top: 0;
}

.pic-card--img:hover .second-content {
  opacity: 1;
}

.pic-card--img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* grey with some opacity */
  transition: all 0.4s;
  opacity: 0;
  z-index: 98;
  border-radius: 10px;
}

.pic-card--img:hover::after {
  opacity: 1;
  border-radius: 15px;
}


.insta-logo{
  margin-top: 16px;
  font-size: 52px;
}

.car-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.container-pics {
  width: 30%; 
}

.gallery-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery-header{
  font-size: 60px;
}
.gallery-para{
  color: white;
  font-size: 32px;
}

/* Your existing CSS */
/* ... */

@media only screen and (max-width: 767px) {

  .container-pics{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic--card{
    width: 300px;
  }
  .pic-card--img {
    width: 100%;
    height: auto;
    margin:12px 0px ;
    font-size: 20px;
  }

  .second-content {
    font-size: 1.4rem;
  }

  .insta-logo{
    font-size: 26px;
  }

  .car-cards {
    flex-direction: column;
  }

  .container-pics {
    width: 100%;
  }

  .gallery-title{
    padding: 20px;
  }

  .gallery-header{
    font-size: 28px;
  }

  .gallery-para{
    font-size: 16px;
  }
}
