.shop-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.banner-logos{
    color: white;
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
margin-bottom: 38px;

}

.banner-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 12px;
    max-width: 100%;
    width: 400px;
}

.banner-logo-text{
    font-size: 28px;
    margin-left: 12px;
}

.banner-logo-img{
    color: red;
}

.shop-item-container{
background-color: red;
width: 100%;
}

.shop-item-links{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: 1600px;
    margin: 0 auto;
}

.shop-item-link{
    padding: 8px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.shop-item-link:hover{
    transition: all 300ms ease;
    background-color: black;
}

.product-card{
    color: white;
}

.shop-landing{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offer-img{
width: 1400px;
height: 540px;
}

.shop-now-button{
    border-radius: 12px;
    padding: 14px;
    background-color: red;
    color: white;
    width: 280px;
    font-size: 32PX;

}

.placeholder{
    width: 300px;
    padding: 16px;
    margin: 8px;
    flex: 0 1 calc(25% - 16px)
}
.sub-categories{
    display: flex;
    flex-wrap: row wrap;
    position: relative;
    max-width: 100%;
    width: 100%;
}